/*导航*/
.navbar{
	width: 100%;
	height: 80px;
	background: #46B4F9;
	position:fixed;
}
.navbar input{
	color:white;
	font-size: 20px;
	height: 100%;
	float: left;
}
#btn0{
	font-size: 30px;
	width: 30%;
	/*background-color: red;*/
}
#btn1{
	width: 10%;
	/*background-color: orange;*/
}
#btn2{
	width: 10%;
	/*background-color: green;*/
}
#btn3{
	width: 10%;
	/*background-color: gray;*/
}
#btn4{
	width: 10%;
	/*background-color: red;*/
}
#btn5{
	width: 10%;
	/*background-color: blue;*/
}
#btn6{
	width: 10%;
	/*background-color: gray;*/
}
#btn7{
	width: 10%;
	/*background-color: gray;*/
}
/*内容*/
.main{
	width: 100%;
	min-height: 810px;
	background-image: url(../images/mainbg.png);
	background-size: 100% 100%;
}

/*底部*/
.mainBottomBar{
	width: 100%;
	height: 120px;
	background-color: #46B4F9;
}
.synopsis{
	width: 100%;
	height: 20px;
	padding-top: 50px;
	font-size: 14px;
	text-align: center;
	color: #555;
}
.synopsis a{
	color: #FFF;
}